* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgba(37,94,233,255);
    color: white;
    height: 70px;
    font-size: 1em;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.font-discord {
    font-family: 'Filetto', sans-serif;
}

.fa-down-long {
    padding-right: 5px;
}

a {
    text-decoration: none;
}

.link a {
    color: white;
    margin-right: 35px;
}

.accedi {
    color: black;
}

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 476px;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.link-accedi {
    background-color: white;
    padding: 13px 15px;
    border-radius: 23px;
}

header {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

h1 {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 2.7rem;
}

.header-container p {
    padding-bottom: 5px;
    font-size: 1.1em;
}

.contenitore-link-mac {
    display: inline-block;
    background-color: white;
    padding: 13px 15px;
    border-radius: 23px;
    margin-right: 15px;
    margin-top: 10px;
    
}
.contenitore-link-browser {
    display: inline-block;
    background-color: rgba(35,39,42,255);
    padding: 13px 15px;
    border-radius: 23px;
    margin-right: 10px;
}

.link-mac {
    color: black;
}

.link-browser {
    color: white;
}

.container1 {
    display: flex;
    margin-top: 4rem;
}

.img-container1 {
    display: flex;
    width: 60%; 
    flex-direction: row-reverse;
    padding-right: 2.5rem;
}


.testo-container1{
    width: 40%; 
    display: flex;
    flex-direction: column;
}

.img-item1 {
    max-width: 600px;
    
}

.h2-title {
    font-size: 2.8em;
    
    margin-bottom: 1.5rem;
}

.p-container {
    line-height: 1.5em;
}

.container2 {
    display: flex;
    /* margin-top: 4rem; */
    background-color: rgba(245,245,245,255);
    flex-direction: row-reverse;
}

.img-container2 {
    display: flex;
    width: 50%; 
    padding-right: 9rem;
    flex-direction: row-reverse;
    justify-items: flex-end;
    margin-top: 1.5rem;
}


.testo-container2 {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-item2 {
    max-width: 600px;
}

.h2-title2 {
    font-size: 2.8em;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
}

.p-container2 {
    line-height: 1.5em;
}

.testo-container3 {
    width: 40%; 
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
}

.last-container-main {
    text-align: center;
    background-color: rgba(245,245,245,255);
    height: 150vh;
    padding-top: 4rem;
}

.container-stars {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.img-stars {
    width: 30rem;
    margin-top: 3rem;
    
}

.h3-stars {
    font-size: 1.6em;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
}

.link-mac-purple {
    background-color: rgba(114,137,218,255);
    padding: 13px 15px;
    border-radius: 23px;
    color: white;
}

.footer-flex {
    display: flex;
    background-color: rgba(35,39,42,255);
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    
    
}

.list1 h3 {
    margin-bottom: 1rem;
}
 
.list1 span {
    color: white;
    
}

.fa-angle-down {
    padding-right: 3.7rem;
    margin-bottom: 1rem;
} 

.social-icons {
    padding-right: 2.4rem;
}


.list1 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}
.list2 {
    flex-grow: 1;
}
.list3 {
    flex-grow: 1;
}
.list4 {
    flex-grow: 1;
}
.list5 {
    flex-grow: 1;
}
.list5 {
    flex-grow: 1;
}

.list1 h3 {
    font-size: 1.6em;
    color: rgba(114,137,218,255);
}

.img-ita {
    width: 1.5rem;
}

.list1 i {
    margin-right: 1rem;
}

.list1 i {
    color: white;
}

.list-color {
    color: white;
}

.container-stars {
    background-image: url(../img/stars.svg);
    background-position: center;
}

.footer-flex li {
    list-style: none;
    margin-bottom: 1rem;
}

.li-purple {
    color: rgba(114,137,218,255);
}

.registrati {
    background-color: rgba(35,39,42,255);
    height: 20vh;
}

.last-item {
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    max-width: 1100px;
    margin: auto;
    border-top: 1px solid rgba(114,137,218,255);
    padding-top: 1.5rem;
    
}

.link-registrati {
    background-color: rgba(114,137,218,255);
    padding: 13px 15px;
    border-radius: 23px;
    color: white;
}

.wave {
    margin-top: 5rem;
    vertical-align: bottom;
}

.wave2 {
    transform: scaley(-1);
}